doctype html
<!--[if IE 8]>
<html lang="pt-br" class="lt-ie9">
<![endif]-->
<!--[if gt IE 8]><!-->
html(lang="pt-br")
<!--<![endif]-->

//- - var root = "";
//- - var root = "/clientes/jota3w/sitenovo/";

head
	meta(charset="utf-8")
	meta(http-equiv="X-UA-Compatible", content="IE=edge")
	meta(name="viewport", content="width=device-width, initial-scale=1")
	link(href=root+"assets/img/favicon.ico", rel="shortcut icon", type="image/png")
	link(href=root+"assets/css/slick-theme.css", rel="stylesheet")
	link(href=root+"assets/css/slick.css", rel="stylesheet")
	link(href=root+"assets/css/font-awesome.min.css", rel="stylesheet")
	link(href=root+"assets/css/style.min.css", rel="stylesheet")